<footer><span>

	<ul>
		<li>
			<a href="https://www.facebook.com/brixpension/">
				<img src="../img/fb.svg">
			</a>
		</li>
		<li>
			<a href="https://twitter.com/BrixPension">
			<img src="../img/twitter.svg">
			</a>
		</li>
		<li>
			<a href="https://www.linkedin.com/company/17991079/">
			<img src="../img/linkedIn.svg">
			</a>
		</li>
		<li>
			<a href="https://www.instagram.com/brixfinance/">
			<img src="../img/insta.svg">
			</a>
		</li>
	</ul>
	<p>
		 lara lara lara is looking for rules on data storage.

	</p>


</span></footer>