<footer>

	<ul>
		<li>
			<a class="footerSocial" href="https://www.facebook.com/brixpension/">
				<img src="../img/fb.svg">
			</a>
		</li>
		<li>
			<a class="footerSocial" href="https://twitter.com/BrixPension">
			<img src="../img/twitter.svg">
			</a>
		</li>
		<li>
			<a class="footerSocial" href="https://www.linkedin.com/company/17991079/">
			<img src="../img/linkedIn.svg">
			</a>
		</li>
		<li>
			<a class="footerSocial" href="https://www.instagram.com/brixfinance/">
			<img src="../img/insta.svg">
			</a>
		</li>
	</ul>
	<p class="copyright">
		 © 2017 Brix Finance GmbH
	</p>
	<p class="impressum">
		<a class="footerLink" href="https://www.brixpension.com/new/">Impressum</a>
	</p>


</footer>