/* -- General Layout -- */
/* mixins & import of colors from base.scss did not work (in phpstorm) so i imported all the mixins here... should have resolved it differently, shame on me. */
/*mixins end.*/
/* Navigation */
#nav a, #nav-left a {
  display: block;
  color: #FDFDFD;
  padding: 0.33334em 0;
  font-size: 1.5em;
  font-weight: 400; }
  @media (min-width: 940px) {
    #nav a, #nav-left a {
      font-size: 1em; } }
  #nav a:hover, #nav-left a:hover {
    background-color: #0d0d0d; }
#nav span, #nav-left span {
  font-weight: 200; }

#nav {
  width: 14rem;
  position: fixed;
  background-color: #000000;
  top: 0;
  bottom: 0;
  right: -14rem;
  color: #FDFDFD;
  opacity: 0.95;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 1;
  padding: 72px 0;
  text-align: center; }

#nav-left {
  width: 14rem;
  position: fixed;
  background-color: #000000;
  top: 0;
  bottom: 0;
  left: -14rem;
  color: #FDFDFD;
  opacity: 0.95;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 1;
  padding: 72px 0;
  text-align: center; }

/* Toggle class to open menu */
#nav.menu-open {
  -webkit-transform: translateX(-14rem);
  -moz-transform: translateX(-14rem);
  -ms-transform: translateX(-14rem);
  transform: translateX(-14rem);
  width: 100%; }
  @media (min-width: 940px) {
    #nav.menu-open {
      width: 30%; } }

#nav-left.menu-open-left {
  -webkit-transform: translateX(14rem);
  -moz-transform: translateX(14rem);
  -ms-transform: translateX(14rem);
  transform: translateX(14rem);
  width: 100%; }
  @media (min-width: 940px) {
    #nav-left.menu-open-left {
      width: 30%; } }

/* Separator after menu */
#nav-list:after {
  display: block;
  content: '';
  width: 5rem;
  height: 1px;
  margin: 23px auto;
  background-color: #FDFDFD; }

/* Icon menu */
#nav-menu {
  display: block;
  position: fixed;
  top: 35px;
  right: 25px;
  z-index: 10;
  height: 24px; }

#nav-menu-left {
  display: block;
  position: fixed;
  top: 35px;
  left: 25px;
  z-index: 10;
  height: 24px; }

#menu {
  height: 4px;
  width: 1.5em;
  background-color: #595959;
  margin-top: 8px; }
  #menu:after, #menu:before {
    content: "";
    display: block;
    position: relative;
    height: 4px;
    width: 1.5em;
    background-color: #595959;
    transition: all 0.3s ease-in; }
  #menu:before {
    top: -8px; }
  #menu:after {
    top: 4px; }
  #menu.btn-close {
    background: none; }
  #menu.btn-close:before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #FDFDFD; }
  #menu.btn-close:after {
    top: -4px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #FDFDFD; }

/* Main content */
.fixed {
  position: fixed;
  width: 100%; }
  @media (min-width: 940px) {
    .fixed {
      position: static; } }

#container {
  margin: 0 auto;
  max-width: 730px;
  padding: 0 1.5rem; }

#header {
  text-align: center;
  padding: 24px 0;
  position: relative; }
  #header a {
    text-decoration: none;
    color: #000000;
    display: inline-block; }
  #header img {
    max-height: 600px;
    margin: 0 auto;
    display: block; }
  #header h1 {
    font-family: 'Signika', sans-serif;
    font-weight: 600; }
  #header:after {
    display: block;
    content: '';
    width: 5rem;
    height: 1px;
    margin: 23px auto;
    background-color: #b3b3b3; }

/* Posts */
#posts li {
  list-style-type: none; }

#post-page {
  margin-bottom: 1.5em; }
  @media (min-width: 940px) {
    #post-page {
      margin-bottom: 1.3334em; } }

.post + .post:before {
  display: block;
  content: '';
  width: 5rem;
  height: 1px;
  margin: 23px auto;
  background-color: #b3b3b3; }

.by-line {
  display: block;
  color: #404040;
  line-height: 1.5em;
  /* 24px/16px */
  margin-bottom: 1.5em;
  /* 24px/16px */
  font-weight: 200; }
  @media (min-width: 940px) {
    .by-line {
      display: block;
      color: #404040;
      line-height: 1.3334em;
      /* 24px/18px */
      margin-bottom: 1.3334em;
      /* 24px/18px */
      font-weight: 200; } }

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

img[title="Emerald"] {
  box-shadow: 0 2px 6px #ddd; }

code {
  color: #595959;
  background-color: white; }

/* Set the vertical rhythm (and padding-left) for lists inside post content */
.content ul, .content ol {
  line-height: 1.5em;
  /* 24px/16px */
  padding-left: 1.5em; }
  @media (min-width: 940px) {
    .content ul, .content ol {
      line-height: 1.33334em;
      /* 24px/18px */ } }

/* Pages */
#page ul, #page ol {
  padding-left: 1.5em; }

/* Paginator */
.pagination {
  text-align: center;
  margin: 2.666668em; }
  .pagination span {
    background-color: #f0f0f0;
    color: #000000; }
  .pagination a:hover {
    background-color: #0d0d0d; }

.page-item {
  background-color: #000000;
  color: #FDFDFD;
  padding: 4px 8px;
  font-weight: 400;
  padding: 0.5em 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

/* Footer */
footer {
  background-color: #f7c0c2;
  color: #FDFDFD;
  text-align: center;
  padding: 0.6667em 0; }
  footer ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0; }
    footer ul li {
      display: inline-block;
      margin: 0 0.6667em 0 0.6667em;
      padding: 0 0 0 0; }
      footer ul li img {
        width: 40px;
        height: auto;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        opacity: 0.75;
        transition: all 1s ease; }
        footer ul li img:hover {
          transform: scale(1.1);
          transition: all 1s ease;
          opacity: 1; }
  footer P {
    margin: 0 0 0 0; }

/*# sourceMappingURL=layout.css.map */
